# Ignore virtual environment
venv/

# Ignore node_modules from React project
# smart-faq-app/node_modules/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Django migrations cache
faq_backend/**/migrations/
